flask>=3.1.2
python-telegram-bot[job-queue]>=22.6
gunicorn
telethon
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
email-validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
python-telegram-bot[job-queue]
telethon
asgiref
flask[async]
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
asgiref
email-validator
flask[async]
flask-sqlalchemy
gunicorn
psycopg2-binary
python-telegram-bot[job-queue]
telethon
asgiref
email-validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
python-telegram-bot[job-queue]
telethon
